.login-header {
  margin: 11rem 0 1.5rem 0;
}

.login-header:first-letter {
  text-transform: uppercase;
}

.login-sub-heading {
  margin: 0 0 5.5rem 0;
}

.login-sub-heading:first-letter {
  text-transform: uppercase;
}

.login-button:first-letter {
  text-transform: uppercase;
}
