.title-heading {
  margin: 9rem 0 6.5rem;
}

.title-heading:first-letter {
  text-transform: uppercase;
}

.list-heading {
  margin: 0 0 2.25rem 0;
}

.list-heading:first-letter {
  text-transform: uppercase;
}

.list-group {
  width: 50%;
}

.list-group__text {
}

.list-group__text_left {
  text-transform: capitalize;
}

.list-group__text_right {
  float: right;
}
